//NADIA LUNA: DESAFIO CODER https://nadiamoon.github.io/root-coder-comercio-luna-
//SECCIONES GENERALES DE TODAS LAS PAGINAS//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    $font:$font-family-base;
    $font:$font-size-base;
}

.logo1 {
    width: 8%;
    padding: 2%;
}

h1, h2, h3 {
    color: map-get($color, $color-principal);
   
}
//FIN DE GLOBAL//