//NADIA LUNA: DESAFIO CODER https://nadiamoon.github.io/root-coder-comercio-luna-


/*SECTION EXPERTOS DEL MEJOR SERVICIO DE NOSOTROS*/
.section-padding {
    padding: 100px 0;
}
//FIN DE EXPERTOS DEL MEJOR SERVICIO

//SECTION NOSOTROS PRIMER CUADRO










/*SECTION NUESTROS PROYECTOS*/
.portfolio {
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);

}




/*SECTION TEAM*/
.team .card-body i{
    font-size: 20px;
}




