//NADIA LUNA: DESAFIO CODER https://nadiamoon.github.io/root-coder-comercio-luna-
//PRODUCTOS//
$carousel-control-width: 15%;
$carousel-control-color: $white;



section.back-productos {
    position: relative;
    background-image:url(../img/auricu.jpg);
    width: 1000vh;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     
}



